html{
	background-image: url('../image/fond1.jpg');
}
p{
	color: black;
	text-align: center;
}
h1{
	color: black;
	text-align: center;
}
h2{
	color: red;
	text-align: center;
}
#footer {
	position: absolute;
	bottom: 0;
}

#barre li {
	padding-bottom: 100px;
	margin: 0% 1% 0% 5%;
	display: inline;
	list-style: none;
	
}

#barre {
	background : grey;
	padding: 0.5%;
	margin: 0% 10% 0% 10%;
	border-radius: 30px;
}